    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
html,body{
  height: 100%;
}

nav .logo img{
  width:60px;
  height:60px;
}
nav a{
  text-decoration: none;
  color: white;
  outline: none;
}
nav a:hover{
  color:white;
  outline: none;
  text-decoration: none;
}
nav .logo{
  font-size: 40px;
}
nav .container{
  padding: 10px;
  color:white;
}
